body {
  background-color: #232323;
}
body a {
  color: #ffffff !important;
}
header {
  background-color: #5f5f5f;
}
.card > img {
  width: 100%;
}
.searchLable {
  color: white;
}
.dropdownbtn {
  margin-top: 33px;
}
.dropdown-menu.show {
  background-color: #000;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #dc3545;
}
